// Font
$mainFontFamily: 'Inter';
$mainFontSize: 16px;
$fontFamily: $mainFontFamily, -apple-system, blinkmacsystemfont, 'Inter', 'Arial', sans-serif;

// Colors
$mainBackgroundColor: #222222;
$primaryBackgroundColor: #00B285;
$secondaryBackgroundColor: #363636;
$mainTextColor: #C9C9C9;
$textWhite: #FFFFFF;
$textPrimary: $primaryBackgroundColor;
$textSecondary: #FFC165;
$textThird: #ABABAB;
$textFourth: #CEC7A6;
$titlePrimary: $textPrimary;
$titleSecondary: $textFourth;

// Breakpoints
$tablet: 650px;
$maxMobile: $tablet - 1px;
$tabletLate: 768px;
$maxMobileLate: $tabletLate - 1px;
$desktop: 1200px;
$freezeRem: 1440px;
$maxTablet: $desktop - 1px;
$containerCollapse: 1840px;
$maxRems: 1200px;

// Other
$containerMaxWidth: toRem(1150);

$containerPaddingMobile: 5%;
$containerPaddingTablet: 6.769%;
$containerPaddingTabletLate: 5.729%;
$containerPaddingDesktop: toRem(20);

$borderRadius: 3px;